/*********************
SITE COLORS
Lime Green - #ACDD30
Brown - #352324
Purple - #8332B2 
Pink - #DA17AF
Fonts- font-family: 'Source Sans Pro', sans-serif;
**********************/

*{
    box-sizing: border-box;
}
*:focus {
	outline:none;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0 auto; /*to center in browser windown when max-width is exceeded */
    display: flex;
    flex-direction:column;
    min-height: 100vh;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.current {
    text-decoration: underline;
}
.mainNav{
	border-bottom: 4px solid #accd30; 
  }

.mainNav ul{
    display: flex;
    padding: 15px 0;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}
button, a{
    transition: all .6s ease;
}

.mainNav a{
    color: #ACCD30;
    padding: 20px;
    font-size: 1.2em;
    text-transform: uppercase;
    transition: color 0.6s ease;
}

.mainNav a:hover{
    color: #352324;
}
.mainHeader{
    background-color:#352324;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mainHeader img{
    align-self: center;
}
.tagline{
    display: none;
}

.mainContainer{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1400px; 
    margin: 20px auto;
    justify-content: center;
    flex: 1;
}

.items{
    border-radius: 10px;
    text-align: center;
    margin: 0 20px;
    flex: 1 25%;
}

.fudge, .lunch, .events{
	margin: 60px 20px;
}

.items img{
    border-radius: 15px;
   
}

.homeImage{
    display: none;
}

.fudge a{
    color: #accd30;
}

.items h2{
    color: #accd30;
	font-size: 1.8em;
}
.items p{
    padding: 0 10px;
}
.items h2:hover{
    color: #ACCD30;
}
footer{
    background-color: #352324;
    color: white;
}
.mainFooter,
.footerNav{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap:wrap;
    margin: 0 auto;
    padding: 8px 8px 0;
}
.footerNav a{
    color: #accd30;
    padding: 20px;
}
.footerNav a:hover{
    color: #352324;
	letter-spacing: .1em;
}
.foot li{
    text-align: center;
}
.fbLogo:hover{
	opacity: 0.7;
}

.subFooter{
    background-color: #352324;
    color: white;
    font-size: .8em;
    display: flex;
    width: 90%;
    margin: 10px auto;
    flex-wrap: wrap;
    justify-content: space-around;
}
.bottomLinks{
	display: flex;
	justify-content: space-between;
	background-color: white;
	padding: 0 10px;
}
.copyright{
	font-size: .8em;
	color: #accd30;
}

.title{
    text-align: center;
    color: #ACCD30;
    font-size: 1.2em;
}

.fudgeHeader{
    background-image: url(images/cheesecake-bg.jpg);
    background-repeat:no-repeat;
    background-position: center;
    height: 350px;
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.fudgePageHeader{
    background-image: none;
    height: 270px;
}

/*****************
Fudge Page header
*****************/
.fudgePagePic{
    background-image: url(images/bg_fudge_page.jpg)
    
}
.list{
    align-self: center;
}

#button1, #button2 {
    margin-bottom: 30px
}
.fudgeLocations, .flavourList{
    display: none;
}
#retailerList{
    color: #453524;
}
#retailerList:hover{
    color: #accd30;
}
.fudge li{
    line-height: 1.5em; 
}


/*****************/

.fudgePageHeader .mainLogoFudge{
    margin-top: 0;
    opacity:1.0; 
}
.mainLogoFudge{
    padding-top:0;
}
#smHomeLogo{
    display: none;
}

.lunchContent1.fudgeP{
    box-shadow: 1px 1px 1px 2px #d3d3d3;
    border: none;
    height: 100%;
}
.lunchContent3.fudgeP{
    margin: 0 18px;
    box-shadow: 1px 1px 1px 2px #d3d3d3;
    border: none;
}


.footerContact a{
        color: white;
    }
    .footerContact a:hover{
        color: #ACCD30;
    }
/*****************************************
LUNCH PAGE
*****************************************/

.lunchHeading, .lunchTagline{
    text-align: center;
    width: 80%;
    margin: 5px auto;
}
.lunchHeading{
    font-size: 2.2em;
}
.lunchContainer{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
}
.lunchContent{
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    padding: 30px;
}
.lunchContent1, .lunchContent3{
    flex: 2 30%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    line-height: 1.5em;
	box-shadow: 0px 0px 1px 2px #cfe08f;
}

.bottomSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.prices{
   text-align: center;
    margin: 0 30px;
    padding: 10px;
    border-radius: 10px;
    line-height: 1.5em;
	box-shadow: 0px 0px 1px 2px #cfe08f;
 }
.lunchPic{
    border-radius: 10px;
}
.lunchTagline{
    padding-bottom: 20px;
}

/*********************************************
            EVENTS PAGE
*********************************************/
.eventsHeading{
    text-align: center;
    margin-bottom: 2px auto;
    flex: 1 100%;
}

h1#eventHeading{
    text-align: center;
    font-size: 1.7em;
}

.eventsPageContainer{
    width: 85%;
}
button#button2, button.eventsButton{
    background-color: #accd30;
    color: white;
    min-width: 200px;
    max-width: 250px;
    border: 2px solid #accd30;
    margin-top:10px;
    transition: all .6s ease;
    font-weight: bold;
	border-radius: 6px;
	padding: 6px 2px;
	letter-spacing: .1em;
}
button#button2:hover, button.eventsButton:hover{
    opacity: .7;
    box-shadow: 2px 2px 4px grey;
    background-color: #accd30;
}
.eventsPageContainer h2{
    color: #453524;
}
.eventsHeading a{
    color: #accd30;
}
.eventImageSm{
    display: none;
}
/*********************************************
CONTACT US PAGE
*********************************************/

.contactHeading{
    text-align: center;
}
.contactPic{
    margin-left: 40px;
    align-self:flex-start;
    border: 3px solid #accd30;
    border-radius: 8px;
}
.image{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    font-size: 1.2em;
}

.image li{
    text-align: center;
}
.image a{
    color: #352324;
}
.image a:hover{
    color: #ACCD30;
}
/*********************************
CATERING PAGE
*********************************/
.cateringContent{
    width: 70%;
}

/***********************************************
MEDIA QUERIES
************************************************/
@media (max-width: 1200px){
    .eventsPageContainer{
        width: 100%;
        margin:0 auto;
}
    .eventsPage{
        margin: 0 auto;
        padding: 0;
    }
}
@media (max-width: 1030px){
    .mainNav ul{
        width: 100%;
    }
    #p4, #p8{
        display: none;
    }
    .lunchContent3{
        flex: 1 100%;
        margin-top: 20px;
    }
    .lunchContent3.fudgeP{
      margin: 0 auto;
    }
    .lunchContent1.fudgeP{
    height: auto;
    }
    .prices{
        margin: 0 0 0 30px;
    }
    .image{
        width: 100%;
    }
    .contactPic{
        margin-left: 10px;
    }
    .emailSignUp{
        margin: 0 auto;
        width: 80%;
    }

}

@media (max-width: 960px){
    #homeLogo{
        display: none;
    }
    #smHomeLogo{
        display: block;
    }
}

@media (max-width: 875px){
    .mainNav a{
        padding:10px;
    }
    
    .items{
        flex: 1 40%;
    }
    .fudge, .lunch, .events{
	margin: 5px;
	}
    .lunchContainer{
        width: 90%;
    }
    .lunchContent1, .lunchContent2, .lunchContent3{
        flex: 1 100%;
        margin: 0;
    }
    .lunchContent1, .lunchContent3{
        padding: 0;
        border: none;
    }
     .lunchContent3.fudgeP, .lunchContent1.fudgeP{
         margin: 4px auto;
         padding: 4px;
     }
   
    .prices{
        order: -1;
    }
    .contactPic{
        margin: 0;
    }
}


@media (max-width: 550px){
    .tagline{
        font-size: .8em;
        background-color:#ACCD30;
        display: block;
        color: white;
        text-align: center;
      }
    .mainNav ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .mainNav{
        background-color: white;
    }
    .mainNav a{
        font-size: 1.3em;
        color: #ACCD30;
    }
    .mainNav li{
        padding-bottom: 15px;
    }
    .mainHeader{
        height: 100%;
        }
    .mainLogoFudge{
        margin-top:0;
    }
    .mainHeader img{
        width: 100%;
        margin-top:50px;
    }
   .fudgeHeader{
       background-image: none; 
       height: 100%;
    } 
    
    .mainContainer{
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .items{
        flex: 1 1 0;
    }
    .homeImage{
        display: block;
        margin: 0 auto;
    }
    .footerNav{
        justify-content: center;
        padding-bottom: 15px;
    }
    .footerNav li{
        padding: 10px 0;
        font-size: .8em;
        
    }
    
    .subFooter{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .lunchContainer{
        width: 100%;
    }
    
    #p2, #p3, #p6, #p7{
        display: none;
    }
    .contactPic{
        display: none;
    }
    .image{
        line-height: 1.8em;
    }
    .fudgePic{
        width: 100%;
    }

}

@media(max-width: 300px){
    .eventImageLg{
        display: none;
    }
}
